.rute-list {}

.content {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
}

article {
    display: grid;
    grid-auto-rows: minmax(50px, 1fr);
}

.article-tekst {
    grid-area: 2 / 1;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-self: stretch;
    background-color: #fff;
    margin: -50px 10px 0 10px;
    border: 3px solid #ABB5A1;
    opacity: 0.85;
    padding: 5px 10px;
}

.article-tekst h2 {
    margin-top: 0;
}

.article-tekst p {
    margin-top: 0;
}

article button {
    justify-self: flex-end;
}


button {
    width: 100%;
}


.the_img {
    grid-area: 1 / 1;
    cursor: pointer;
}



.middle {
    max-width: 1000px;
    margin: 0 auto;

}

.middle-content {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    margin: 0 20px 0 20px;

}

.multi-range-slider {
    margin: 50px 0;
}

.outputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#output-right {
    text-align: right;
}

.slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0px 15px;
}

.slider .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #E2BF5B;
}

.slider .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #C3833C;
}

.slider .thumb {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: #C3833C;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(195, 131, 60, .1);
    transition: box-shadow .3s ease-in-out;
}

.slider .thumb.left {
    left: 25%;
    transform: translate(-15px, -10px);
}

.slider .thumb.right {
    right: 25%;
    transform: translate(15px, -10px);
}

.slider .thumb.hover {
    box-shadow: 0 0 0 20px rgba(195, 131, 60, .1);
}

.slider .thumb.active {
    box-shadow: 0 0 0 40px rgba(195, 131, 60, .2);
}

input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
}


input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
}
