.top-tekst {
    background: #fff;
    position: relative;
    padding: 50px;
    margin: -100px 10px 50px 10px;
    border: solid 1px #000;
}

.rute-list {
    background-color: red;
}

.content {
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
}

.the_img {
    object-fit: cover;
    object-position: center center;
    height: 160px;
}
