/*--SPLASH--*/

/*--knappen styles ekstra udover det i main.css, så den får blå border og placeres i midten--*/
.splash .knap_udforsk {
    background-color: #25434D;
    background-color: transparent;
    color: white;
    color: #25434D;
    border: 2px solid #25434D;
    padding: 20px 35px;
    font-size: 1.6rem;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.splash .knap_udforsk:hover {
    background-color: transparent;
    background-color: #25434D;
    color: #25434D;
    color: white;
}

/*--SECTION 1: styling i første section, ved brug af margin, padding og font-weight--*/

#indledning {
    margin: 35px 25px 60px 25px;
}

#indledning .left_col {
    padding-bottom: 10px;
}

.fed_intro {
    font-weight: 700;
    margin-bottom: -2px;
}

.afslutning_intro {
    margin-top: 2px;
}

/*--SECTION 2: styling af anden section--*/

/*--bagrundfarve til sectionen som fylder 100%--*/
#knaptilruter {
    width: 100%;
    background-color: #ABB5A1;
    padding: 10px;
    margin-bottom: 80px;
}

/*--margin på indholdet af sectionen, så det flugter med de andre sectioner--*/
#knaptilruter .knaptilruter_indhold {
    margin: 25px 15px 50px 15px;
}

#knaptilruter .text_col {
    padding-bottom: 10px;
}

/*--billedet under knappen som baggrundbillede, der får en position, width og height--*/
#knaptilruter .img_col {
    position: relative;
    width: 100%;
    height: 55vh;
    background-position: 52% 10%;
    max-width: none;
    cursor: pointer;
}

/*--knappen på baggrundsbilledet styles ekstra udover det i main.css, så den får blå border og placeres i midten af billedet--*/
#knaptilruter .knap_udforsk {
    background-color: #25434D;
    color: white;
    border: 2px solid #25434D;
    padding: 14px 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*--ved hover over knap bliver den gennemsigtig, så man kan se billedet igennem--*/
#knaptilruter .knap_udforsk:hover {
    background-color: transparent;
    color: #25434D;
}

/*--SECTION 3: margin, så den passer til resten af sectionerne--*/

#community {
    margin: 25px 25px 80px 25px;
}

/*--luft mellem tekst kolonne og billede kolonne med grid--*/
#community .text_col {
    padding-bottom: 10px;
}

/*--Opsætter grid på 2 kolonner med 6 billeder--*/
#community .img_col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

/*--grid af text kolonnen, teksten fylder 5fr og billeder fylder 1fr--*/
#community .text_col .text_grid {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

/*--placring og størrelse på fodtryk i grid--*/
#community .text_col img {
    width: 130px;
    margin-top: 35px;
}

/*--SECTION 4--*/

/*--Nyhedsbrev section får baggrundsfarve og brede--*/
#newsletter {
    width: 100%;
    background-color: #25434D;
    padding: 22px;
    margin: 0px;
    color: white;
}

/*--Nyhedsbrev størrelse på input og font-family--*/
#newsletter input {
    width: 100%;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
}

/*--Nyhedsbrev indsend knap stylet og placeret--*/
#newsletter button {
    border: 2px solid #25434D;
    background-color: white;
    color: black;

    padding: 8px 14px;
    font-size: 0.95rem;

    cursor: pointer;

    display: block;
    margin: auto;
    justify-items: right;
    margin-right: 0;
}

/*-----POP-UP VINDUE I SECTION 4-----*/

/*--Class til pop-up vinduet, som vises når man trykker på indsend knap--*/
.boks_vises {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 250px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/*--Pop-up vinduets indhold, størrelse og styling--*/
#popup .boks_content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 3px solid #ABB5A1;
    width: 66%;
}

/*--Pop-up vinduets knap til at kunne lukke--*/
#popup .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/*--Farve til font i pop-up vindue--*/
#popup {
    color: black;
}

/*Krydset i pop-up vindue rykket op, så den er i hjørnet af boksen*/
#popup span {
    margin-top: -10px;
}

/*Kilsen teamet i pop-up i kursiv*/
.hilsener {
    font-style: italic;
}

/*--Media ved 700px--*/
@media (min-width:700px) {

    /*--SECTION 3--*/

    /*--Placering og størrelse på fodtryk i grid--*/
    #community .text_col img {
        width: 125px;
        margin-top: 10px;
    }
}

/*--Media ved 600px--*/
@media (min-width:600px) {

    /*--SECTION 3--*/

    /*--placring og størrelse på fodtryk i grid--*/
    #community .text_col img {
        width: 130px;
        margin-top: 20px;
    }

    /*--Media ved 750px--*/
    @media (min-width:750px) {

        /*--SECTION 1: Grid i to kolonner--*/

        #indledning {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 25px;
        }

        /*--Placering af elementer i grid--*/
        #indledning .left_col {
            grid-column: 1/2;
        }

        #indledning .right_col {
            grid-column: 2/3;
        }

        #indledning img {
            padding: 10px;
        }

        /*--SECTION 3--*/

        /*--Placering og størrelse på fodtryk i grid--*/
        #community .text_col img {
            width: 125px;
            margin-top: -8px;
        }

        /*--SECTION 4--*/

        #newsletter .tilmeld .fuldenavn,
        .email {
            margin: 0px;
        }

        #knaptilruter .knap_udforsk {
            font-size: 1.3rem;
        }
    }

    /*--Media ved 900px--*/
    @media (min-width:900px) {

        /*--SECTION 3: nyt grid på 3 kolonner-----*/

        #community .img_col {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
        }

        /*--Placring og størrelse på fodtryk i grid--*/
        #community .text_col img {
            width: 120px;
            margin-top: -2px;
        }

        /*--SECTION 4-----*/

        /*--Nyhedsbrev størrelse på input ændret--*/
        #newsletter input {
            width: 80%;
        }

        /*--Indsend knap skifter plads--*/
        #newsletter button {
            margin-top: -55px;
            font-size: 1.1rem;
        }
    }

    /*--Media ved 1050px--*/
    @media (min-width:1050px) {

        /*-----SECTION 1: max bredte og margin ændret til auto i siderne-----*/

        #indledning {
            max-width: 950px;
            margin: 70px auto 50px auto;
        }

        /*-----SECTION 2: max bredte og margin ændret til auto i siderne-----*/

        #knaptilruter .knaptilruter_indhold {
            max-width: 950px;
            margin: 25px auto 50px auto;
        }

        #knaptilruter button {
            font-size: 1.4rem;
        }

        /*--SECTION 3: max bredte og margin ændret til auto i siderne--*/
        #community {
            max-width: 950px;
            margin: 25px auto 100px auto;
        }

        /*--SECTION 4: max bredte og margin ændret til auto i siderne--*/

        #newsletter .newsletter_indhold {
            max-width: 950px;
            margin: 25px auto 50px auto;
        }

        /*--Nyhedsbrev størrelse på input ændret--*/
        #newsletter input {
            width: 65%;
        }
    }
