@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Big Shoulders Display', cursive;
    padding-bottom: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    line-height: 1.5;
}
