@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

img {
    width: 100%;
}

button,
.knap_udforsk {
    font-family: 'Big Shoulders Display', cursive;
    background-color: #25434D;
    color: white;
    border: 2px solid white;
    padding: 10px 25px;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    font-family: 'Big Shoulders Display', cursive;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #25434D;
    border: 2px solid #25434D;
}

/*------header og footer------*/

footer {
    width: 100%;
    background-color: #ABB5A1;
}

footer img {
    width: 80px;
}

footer .social_1 {
    margin: auto;
    width: 250px;
    display: block;
}

footer p {
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: -10px;
    padding-bottom: 15px;
    margin-top: -10px;
}

header {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 1));
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 30;
    padding: 0 20px 0 20px;
}

.header-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
}

header .header_left {
    margin: auto 0;
}

header .header_left img {
    width: 108px;
}

header .header_right {
    text-align: end;
    letter-spacing: 1.1px;
    margin: auto 0;
}

header nav a {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.2rem;
    padding-left: 16px;
    text-decoration: none;
    color: #000;
}

header a:hover {
    color: #25434D;
    text-decoration: none;
}

header a:active {
    color: black;
    text-decoration: none;
}

header .header-aktiv {
    text-decoration: underline;
}

/*--link stylet med farve og understeges--*/
.link {
    color: #25434D;
    text-decoration: underline;
}

/*--link: ved hover forsvinder linjen under--*/
.link:hover {
    color: #25434D;
    text-decoration: none;
}

/*--fontstørrelser bestemt--*/

h1,
h2,
h3,
h4 {
    font-family: 'Big Shoulders Display', cursive;
}

h1 {
    font-size: 1.6rem;
    letter-spacing: 1.05px;
}

h2 {
    font-size: 1.45rem;
    letter-spacing: 1.05px;
}

h3 {
    font-size: 1.33rem;
    letter-spacing: 1.05px;
}

p,
output {
    font-family: 'Montserrat', sans-serif;
    output font-size: 0.88rem;
    line-height: 1.5;
    word-spacing: 1px;
}

/*------top tekst - loop og single view------*/

.top-tekst {
    margin: -100px 20px 0 20px;
}

.top-tekst-content {
    max-width: 1000px;
    background-color: white;
    margin: 0 auto 0 auto;
    border: 3px solid #ABB5A1;
    opacity: 0.85;
    padding: 30px;
}

.top-tekst h1 {
    margin-top: 0;
}

.top-img {
    max-height: 50vh;
    min-height: 400px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

/*--Media på 700px: fontstørrelser bestemt--*/
@media (min-width:700px) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.45rem;
    }

    p {
        font-size: 0.95rem;
    }

    header a {
        font-size: 1.2rem;
    }

    /*--Header gradient mere gennemsigtig--*/
    header {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 1));
    }
}

/*--Media på 900px: fontstørrelser bestemt--*/
@media (min-width:900px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1.1rem;
    }

    header a {
        font-size: 1.4rem;
    }
}
